body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*øvelse 2*/
.boks {
  width: 10vw;
  height: 10vw;
  margin: 1em;
  background-color: orange;
}

.aktiv {
  background-color: blue;
}
